*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    
}
body{
    background-image: url(back.png);
    
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #1b057c, #539ca8);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 24px 35px;
    text-align: center;
}
.searchImg{
    width: 50px;
    height: auto;
    
}
.search{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}
.weatherIcon{
    width: 180px;
    height: auto;
    padding: 10px;
    margin-top: 30px;

}
.weatherHumidity{
    width: 100px;
    height: auto;
    padding: 10px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 30px;
    margin-right: 10px;
    
}
.humidity, .wind{
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.tag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    padding-top: 5px;
    color: #d6d3d3;
    background: none;
    border: none;
    cursor: pointer;
}